---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout {pageTitle}>
	<p>
		I figure the next step is going to be adding a few blog posts to this
		page.
	</p>
	<p>That or getting some basic styling in place.</p>
	<p>
		Now automating these links!
	</p>
	<ul>
	<!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
	{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
