---
import BaseLayout from "./BaseLayout.astro";
import Image from "astro/components/Image.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>
        Written by {frontmatter.author} on {
            frontmatter.pubDate.toString().slice(0, 10)
        }
    </p>
    {
        frontmatter.image && (
            <Image
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
                // height="500"
                // width="500"
            />
            
        )
    }
    <slot />
    <h3>Tags</h3>
    <!-- {frontmatter.tags.map((tag) => {"<a class='tag' href='/blog/tags/'>"{tag}</li>})} -->
    {
        frontmatter.tags.map((tag) => (
            <a class="tag" href={"../../tags/" + tag}>
                {tag}
            </a>
        ))
    }
</BaseLayout>
